:root {
    --bg-1: oklch(19% 0 0);
    --bg-2: oklch(21% 0 0);
    --bg-3: oklch(24% 0 0);
    --bg-4: oklch(31% 0 0);
    --txt-4: oklch(40% 0 0);
    --txt-3: oklch(50% 0 0);
    --txt-2: oklch(75% 0 0);
    --txt-1: oklch(90% 0 0);
    --txt-0: oklch(95% 0 0);
    --txt-err: oklch(70% 0.11 0);
}

* {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-1);
    color: var(--txt-2);

    font-family: 'Geist Mono Variable', monospace;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
}

#app {
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    color: var(--txt-1);
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    color: var(--txt-3);

    &:hover {
        color: var(--txt-2);
    }
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

input {
    font: inherit;
    color: inherit;
    outline: none;
}
